.movies {
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px 0;
}

.movieCards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &Item {
        width: calc(50% - 8px);
    }
}

.title {
    margin-bottom: 16px;
}
