.filters {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
}
.filtersTop {
    display: flex;
    align-items: flex-end;
    gap: 24px 16px;
}
.sort {
    align-self: flex-end;
    max-width: 284px;
    width: 100%;
}
.filtersItem {
    width: 33.333%;
}
.ratings {
    width: 33.333%;
    display: flex;
    align-items: flex-end;
    gap: 0 8px;
}
.resetBtn {
    margin-left: auto;
    height: 42px;
    padding: 0;
    flex-shrink: 0;
}
