.dropdown {
    padding: 4px;
    min-height: 224px;
}

.option {
    height: 36px;

    &:hover {
        background-color: var(--color-purple-0);
    }

    &[aria-selected="true"]{
        background-color: var(--color-purple-4);
        color: #ffffff;
    }
}

.input + .section{
    svg {
        transform: rotate(180deg);
        transition: transform 0.1s;
        color: var(--color-grey-3);
        width: 20px;
    }
}

.input[data-expanded="true"] + .section {
    svg {
        transform: rotate(0);
        transition: transform 0.1s;
        color: var(--color-purple-4);
    }
}
