.imgBox {
    flex-shrink: 0;
    background-color: var(--color-grey-0);
    position: relative;
}

.icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sm.imgBox {
    width: 119px;
    height: 170px;
}

.lg.imgBox {
    width: 250px;
    height: 352px;
}
