.infoList {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
}

.listItem{
    display: flex;
    gap: 0 8px;
    line-height: var(--mantine-line-height-sm);
}

.key{
    color: var(--color-grey-3);
}

.lg .key{
    width: 140px;
}
