.root {
    font-size: var(--mantine-font-size-sm);
    font-weight: var(--font-weight-lg);
    line-height: var(--mantine-line-height-md);
    color: var(--color-white);
    transition: background-color 0.1s;
    height: 40px;

    &:active:not(:disabled) {
        background-color: var(--color-purple-5);
        transition: background-color 0.1s;
    }

    &:disabled {
        background-color: var(--color-purple-4);
    }
}
