.controls {
    height: 26px;
    margin-right: 8px;
}

.control {
    border: none;
    color: var(--color-grey-3);
}

.control:hover {
    background: transparent;
}
.error{
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: -30px;
}
.root {
    position: relative;
}
.wrapper {
    margin-bottom: 0;
}
